workflows/01-inbound-router.json
{
  "name": "Workflow A - Inbound Message Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Telegram Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "telegram-bot-inbound"
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "telegram_message_id",
              "name": "telegram_message_id",
              "value": "={{ ($json.message?.message_id || $json.callback_query?.message?.message_id)?.toString() }}",
              "type": "string"
            },
            {
              "id": "telegram_chat_id",
              "name": "telegram_chat_id",
              "value": "={{ ($json.message?.chat?.id || $json.callback_query?.message?.chat?.id)?.toString() }}",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ ($json.message?.from?.id || $json.callback_query?.from?.id)?.toString() || 'default_user' }}",
              "type": "string"
            },
            {
              "id": "username",
              "name": "username",
              "value": "={{ $json.message?.from?.username || $json.callback_query?.from?.username }}",
              "type": "string"
            },
            {
              "id": "text",
              "name": "text",
              "value": "={{ $json.message?.text || $json.callback_query?.data }}",
              "type": "string"
            },
            {
              "id": "is_callback",
              "name": "is_callback",
              "value": "={{ !!$json.callback_query }}",
              "type": "boolean"
            },
            {
              "id": "callback_data",
              "name": "callback_data",
              "value": "={{ $json.callback_query?.data }}",
              "type": "string"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "extract-message",
      "name": "Extract Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM commands WHERE json_extract(payload_json, '$.telegram_message_id') = :message_id LIMIT 1",
        "options": {
          "queryParameters": {
            "message_id": "={{ $json.telegram_message_id }}"
          }
        }
      },
      "id": "idempotency-check",
      "name": "Idempotency Check",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "sqlite": {
          "id": "sqlite-db",
          "name": "Task Assistant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-if-new",
      "name": "Is New Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "contents",
              "value": "={{ [{\"parts\": [{\"text\": $json.gemini_prompt}]}] }}"
            },
            {
              "name": "generationConfig",
              "value": "={{ {\"temperature\": 0.1, \"responseMimeType\": \"application/json\"} }}"
            }
          ]
        },
        "options": {}
      },
      "id": "gemini-classifier",
      "name": "Gemini Intent Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "gemini_prompt",
              "name": "gemini_prompt",
              "value": "=You are an intent classifier for a task management assistant.\n\nAnalyze the user message and output STRICT JSON:\n{\n  \"intent\": \"draft_task\" | \"confirm_draft\" | \"cancel_draft\" | \"edit_draft\" | \"unknown\",\n  \"parameters\": {\n    \"task_description\": \"string\",\n    \"mentioned_due_date\": \"YYYY-MM-DD or null\",\n    \"priority_indicators\": [\"urgent\", \"important\", etc] or []\n  },\n  \"confidence\": 0.0-1.0\n}\n\nRules:\n- Never guess dates if not explicitly mentioned\n- Return \"unknown\" intent if unclear\n- For callback buttons (✅/✏️/❌), extract the action\n- Current date context: {{ $now.toFormat('yyyy-MM-dd') }}\n\nUser message: {{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "build-prompt",
      "name": "Build Gemini Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "intent_data",
              "name": "intent_data",
              "value": "={{ JSON.parse($json.candidates[0].content.parts[0].text) }}",
              "type": "object"
            },
            {
              "id": "command_type",
              "name": "command_type",
              "value": "={{ $json.intent_data.intent === 'draft_task' ? 'draft_task_from_text' : ($json.intent_data.intent === 'confirm_draft' ? 'confirm_draft' : ($json.intent_data.intent === 'cancel_draft' ? 'cancel_draft' : ($json.intent_data.intent === 'edit_draft' ? 'edit_draft' : 'unknown'))) }}",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $node['Extract Message'].json.user_id }}",
              "type": "string"
            },
            {
              "id": "payload_json",
              "name": "payload_json",
              "value": "={{ JSON.stringify({\n  intent: $json.intent_data.intent,\n  original_text: $node['Extract Message'].json.text,\n  parameters: $json.intent_data.parameters,\n  telegram_message_id: $node['Extract Message'].json.telegram_message_id,\n  telegram_chat_id: $node['Extract Message'].json.telegram_chat_id,\n  confidence: $json.intent_data.confidence,\n  timestamp: $now.toISO()\n}) }}",
              "type": "string"
            },
            {
              "id": "telegram_chat_id",
              "name": "telegram_chat_id",
              "value": "={{ $node['Extract Message'].json.telegram_chat_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "parse-intent",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "commands",
        "columns": "user_id, type, payload_json, status",
        "options": {
          "queryParameters": {
            "user_id": "={{ $json.user_id }}",
            "type": "={{ $json.command_type }}",
            "payload_json": "={{ $json.payload_json }}",
            "status": "pending"
          }
        }
      },
      "id": "insert-command",
      "name": "Insert Command",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [1450, 200],
      "credentials": {
        "sqlite": {
          "id": "sqlite-db",
          "name": "Task Assistant DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "audit_log",
        "columns": "action, entity_type, entity_id, source_message_id, details_json",
        "options": {
          "queryParameters": {
            "action": "command_created",
            "entity_type": "command",
            "entity_id": "={{ $node['Insert Command'].json.lastID }}",
            "source_message_id": "={{ $node['Extract Message'].json.telegram_message_id }}",
            "details_json": "={{ $node['Parse Intent'].json.payload_json }}"
          }
        }
      },
      "id": "audit-log",
      "name": "Audit Log",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [1650, 200],
      "credentials": {
        "sqlite": {
          "id": "sqlite-db",
          "name": "Task Assistant DB"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $node['Extract Message'].json.telegram_chat_id }}",
        "text": "Got it! Working on it... ⚙️",
        "additionalFields": {}
      },
      "id": "send-ack",
      "name": "Send Acknowledgment",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1850, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Task Assistant Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ {\"ok\": true, \"message\": \"Message received\"} }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $node['Extract Message'].json.telegram_chat_id }}",
        "text": "This message is already being processed.",
        "additionalFields": {}
      },
      "id": "send-duplicate",
      "name": "Send Duplicate Warning",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1050, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Task Assistant Bot"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ {\"ok\": true, \"message\": \"Duplicate ignored\"} }}"
      },
      "id": "webhook-response-dup",
      "name": "Webhook Response (Duplicate)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 400]
    }
  ],
  "connections": {
    "Telegram Webhook": {
      "main": [
        [
          {
            "node": "Extract Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message": {
      "main": [
        [
          {
            "node": "Idempotency Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Check": {
      "main": [
        [
          {
            "node": "Is New Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Message?": {
      "main": [
        [
          {
            "node": "Build Gemini Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Duplicate Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Prompt": {
      "main": [
        [
          {
            "node": "Gemini Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Intent Classifier": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "Insert Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Command": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log": {
      "main": [
        [
          {
            "node": "Send Acknowledgment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Acknowledgment": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Duplicate Warning": {
      "main": [
        [
          {
            "node": "Webhook Response (Duplicate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
