workflows/04-task-drafting.json
{
  "name": "Workflow D - Task Drafting",
  "nodes": [
    {
      "parameters": {},
      "id": "workflow-trigger",
      "name": "Workflow Called",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $json.user_id || 'default_user' }}",
              "type": "string"
            },
            {
              "id": "task_description",
              "name": "task_description",
              "value": "={{ ($json.payload || $json).parameters?.task_description || ($json.payload || $json).original_text }}",
              "type": "string"
            },
            {
              "id": "mentioned_due_date",
              "name": "mentioned_due_date",
              "value": "={{ ($json.payload || $json).parameters?.mentioned_due_date }}",
              "type": "string"
            },
            {
              "id": "priority_indicators",
              "name": "priority_indicators",
              "value": "={{ ($json.payload || $json).parameters?.priority_indicators || [] }}",
              "type": "array"
            },
            {
              "id": "telegram_chat_id",
              "name": "telegram_chat_id",
              "value": "={{ ($json.payload || $json).telegram_chat_id }}",
              "type": "string"
            },
            {
              "id": "telegram_message_id",
              "name": "telegram_message_id",
              "value": "={{ ($json.payload || $json).telegram_message_id }}",
              "type": "string"
            },
            {
              "id": "current_date",
              "name": "current_date",
              "value": "={{ $now.toFormat('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Command Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "gemini_prompt",
              "name": "gemini_prompt",
              "value": "=You are a task planning assistant.\n\nOriginal request: {{ $json.task_description }}\nMentioned due date: {{ $json.mentioned_due_date || 'none' }}\nPriority indicators: {{ $json.priority_indicators.join(', ') || 'none' }}\nCurrent date: {{ $json.current_date }}\n\nOutput STRICT JSON:\n{\n  \"title\": \"string (clear, actionable task title, max 100 chars)\",\n  \"due_date\": \"YYYY-MM-DD or null\",\n  \"due_date_reasoning\": \"string (explain if suggested or user-mentioned)\",\n  \"notes\": \"string (additional context, optional)\",\n  \"suggested_subtasks\": [\n    {\"title\": \"string\", \"estimated_effort\": \"S|M|L\"}\n  ],\n  \"clarification_needed\": \"string or null (ask ONE question if critical info missing)\"\n}\n\nRules:\n- Temperature: 0.3\n- If due date mentioned, validate it's in the future\n- Suggest realistic subtasks (max 5, only if task is complex)\n- Keep title concise and actionable\n- Only ask for clarification if absolutely necessary\n- Effort levels: S (< 30 min), M (30min - 2hr), L (> 2hr)",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "build-task-prompt",
      "name": "Build Task Structuring Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ {\"contents\": [{\"parts\": [{\"text\": $json.gemini_prompt}]}], \"generationConfig\": {\"temperature\": 0.3, \"responseMimeType\": \"application/json\"}} }}",
        "options": {}
      },
      "id": "gemini-structurer",
      "name": "Gemini Task Structurer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [850, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "task_data",
              "name": "task_data",
              "value": "={{ JSON.parse($json.candidates[0].content.parts[0].text) }}",
              "type": "object"
            },
            {
              "id": "draft_json",
              "name": "draft_json",
              "value": "={{ JSON.stringify({\n  title: $json.task_data.title,\n  due_date: $json.task_data.due_date,\n  due_date_reasoning: $json.task_data.due_date_reasoning,\n  notes: $json.task_data.notes || '',\n  suggested_subtasks: $json.task_data.suggested_subtasks || [],\n  priority_indicators: $node['Extract Command Data'].json.priority_indicators,\n  source: 'gemini_structured'\n}) }}",
              "type": "string"
            },
            {
              "id": "user_id",
              "name": "user_id",
              "value": "={{ $node['Extract Command Data'].json.user_id }}",
              "type": "string"
            },
            {
              "id": "telegram_chat_id",
              "name": "telegram_chat_id",
              "value": "={{ $node['Extract Command Data'].json.telegram_chat_id }}",
              "type": "string"
            },
            {
              "id": "telegram_message_id",
              "name": "telegram_message_id",
              "value": "={{ $node['Extract Command Data'].json.telegram_message_id }}",
              "type": "string"
            },
            {
              "id": "clarification_needed",
              "name": "clarification_needed",
              "value": "={{ $json.task_data.clarification_needed }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "parse-task",
      "name": "Parse Task Structure",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.clarification_needed }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "needs-clarification",
      "name": "Needs Clarification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "={{ $json.clarification_needed }}",
        "additionalFields": {}
      },
      "id": "ask-clarification",
      "name": "Ask Clarification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1450, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Task Assistant Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "drafts",
        "columns": "user_id, draft_type, draft_json, status, source_message_id",
        "options": {
          "queryParameters": {
            "user_id": "={{ $json.user_id }}",
            "draft_type": "task",
            "draft_json": "={{ $json.draft_json }}",
            "status": "drafted",
            "source_message_id": "={{ $json.telegram_message_id }}"
          }
        }
      },
      "id": "create-draft",
      "name": "Create Draft Record",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [1450, 200],
      "credentials": {
        "sqlite": {
          "id": "sqlite-db",
          "name": "Task Assistant DB"
        }
      }
    },
    {
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "draft_id",
              "name": "draft_id",
              "value": "={{ $json.lastID }}",
              "type": "number"
            },
            {
              "id": "due_date_text",
              "name": "due_date_text",
              "value": "={{ $node['Parse Task Structure'].json.task_data.due_date ? (DateTime.fromISO($node['Parse Task Structure'].json.task_data.due_date).toFormat('MMM d, yyyy') + ($node['Parse Task Structure'].json.task_data.due_date_reasoning ? ' (' + $node['Parse Task Structure'].json.task_data.due_date_reasoning + ')' : '')) : 'No due date' }}",
              "type": "string"
            },
            {
              "id": "subtasks_text",
              "name": "subtasks_text",
              "value": "={{ $node['Parse Task Structure'].json.task_data.suggested_subtasks?.length > 0 ? ('\\n\\nSuggested subtasks:\\n' + $node['Parse Task Structure'].json.task_data.suggested_subtasks.map(st => ' • ' + st.title + ' (' + st.estimated_effort + ')').join('\\n')) : '' }}",
              "type": "string"
            },
            {
              "id": "message",
              "name": "message",
              "value": "={{ '📝 Task Draft:\\n\\nTitle: ' + $node['Parse Task Structure'].json.task_data.title + '\\nDue: ' + $json.due_date_text + ($node['Parse Task Structure'].json.task_data.notes ? '\\nNotes: ' + $node['Parse Task Structure'].json.task_data.notes : '') + $json.subtasks_text }}",
              "type": "string"
            },
            {
              "id": "telegram_chat_id",
              "name": "telegram_chat_id",
              "value": "={{ $node['Parse Task Structure'].json.telegram_chat_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "format-message",
      "name": "Format Confirmation Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $json.telegram_chat_id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "reply_markup": {
            "inline_keyboard": [
              [
                {
                  "text": "✅ Confirm",
                  "callback_data": "={{ 'confirm_draft:' + $json.draft_id }}"
                },
                {
                  "text": "✏️ Edit",
                  "callback_data": "={{ 'edit_draft:' + $json.draft_id }}"
                },
                {
                  "text": "❌ Cancel",
                  "callback_data": "={{ 'cancel_draft:' + $json.draft_id }}"
                }
              ]
            ]
          }
        }
      },
      "id": "send-confirmation",
      "name": "Send Confirmation Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1850, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot",
          "name": "Task Assistant Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "audit_log",
        "columns": "action, entity_type, entity_id, source_message_id, details_json",
        "options": {
          "queryParameters": {
            "action": "draft_created",
            "entity_type": "draft",
            "entity_id": "={{ $node['Create Draft Record'].json.lastID }}",
            "source_message_id": "={{ $node['Parse Task Structure'].json.telegram_message_id }}",
            "details_json": "={{ $node['Parse Task Structure'].json.draft_json }}"
          }
        }
      },
      "id": "audit-draft",
      "name": "Audit Draft Creation",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [2050, 200],
      "credentials": {
        "sqlite": {
          "id": "sqlite-db",
          "name": "Task Assistant DB"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return { success: true, draft_id: $node['Create Draft Record'].json.lastID };"
      },
      "id": "return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "functionCode": "return { success: true, clarification_requested: true };"
      },
      "id": "return-clarification",
      "name": "Return Clarification Requested",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 400]
    }
  ],
  "connections": {
    "Workflow Called": {
      "main": [
        [
          {
            "node": "Extract Command Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Command Data": {
      "main": [
        [
          {
            "node": "Build Task Structuring Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Task Structuring Prompt": {
      "main": [
        [
          {
            "node": "Gemini Task Structurer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Task Structurer": {
      "main": [
        [
          {
            "node": "Parse Task Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Task Structure": {
      "main": [
        [
          {
            "node": "Needs Clarification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Needs Clarification?": {
      "main": [
        [
          {
            "node": "Create Draft Record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ask Clarification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft Record": {
      "main": [
        [
          {
            "node": "Format Confirmation Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Confirmation Message": {
      "main": [
        [
          {
            "node": "Send Confirmation Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Message": {
      "main": [
        [
          {
            "node": "Audit Draft Creation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Draft Creation": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ask Clarification": {
      "main": [
        [
          {
            "node": "Return Clarification Requested",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
