workflows/whatsapp/01-whatsapp-inbound-router.json
{
  "name": "Workflow A - WhatsApp Inbound Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "WhatsApp Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "whatsapp-bot-inbound"
    },
    {
      "parameters": {
        "functionCode": "// Handle WhatsApp webhook verification (GET request)\nconst method = $input.item.json.method || 'POST';\n\nif (method === 'GET') {\n  // Webhook verification from Meta\n  const query = $input.item.json.query || {};\n  const mode = query['hub.mode'];\n  const token = query['hub.verify_token'];\n  const challenge = query['hub.challenge'];\n  \n  if (mode === 'subscribe' && token === process.env.WHATSAPP_VERIFY_TOKEN) {\n    return {\n      verification: true,\n      challenge: challenge\n    };\n  } else {\n    throw new Error('Verification failed');\n  }\n}\n\n// POST request - actual message\nreturn {\n  verification: false,\n  data: $input.item.json\n};"
      },
      "id": "check-verification",
      "name": "Check if Verification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.verification }}",
              "value2": true
            }
          ]
        }
      },
      "id": "is-verification",
      "name": "Is Verification Request?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $node['Check if Verification'].json.challenge }}"
      },
      "id": "respond-verification",
      "name": "Respond with Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "functionCode": "// Extract message details from WhatsApp webhook\nconst body = $input.item.json.data || $input.item.json;\n\n// WhatsApp Business API structure\nconst entry = body.entry?.[0];\nconst changes = entry?.changes?.[0];\nconst value = changes?.value;\n\nif (!value || !value.messages || value.messages.length === 0) {\n  // Status update or other non-message event\n  return {\n    skip: true,\n    reason: 'No messages in webhook'\n  };\n}\n\nconst message = value.messages[0];\nconst contact = value.contacts?.[0];\n\n// Extract text based on message type\nlet messageText = '';\nlet messageType = message.type;\n\nswitch (messageType) {\n  case 'text':\n    messageText = message.text?.body || '';\n    break;\n  case 'button':\n    messageText = message.button?.payload || message.button?.text || '';\n    break;\n  case 'interactive':\n    // Button or list reply\n    if (message.interactive?.type === 'button_reply') {\n      messageText = message.interactive.button_reply.id;\n    } else if (message.interactive?.type === 'list_reply') {\n      messageText = message.interactive.list_reply.id;\n    }\n    break;\n  default:\n    messageText = `[${messageType}]`;\n}\n\nreturn {\n  skip: false,\n  whatsapp_message_id: message.id,\n  whatsapp_phone: message.from,\n  user_name: contact?.profile?.name || 'User',\n  text: messageText,\n  message_type: messageType,\n  is_button: messageType === 'button' || messageType === 'interactive',\n  timestamp: new Date(parseInt(message.timestamp) * 1000).toISOString(),\n  business_phone_id: value.metadata?.phone_number_id\n};"
      },
      "id": "extract-message",
      "name": "Extract WhatsApp Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.skip }}",
              "value2": false
            }
          ]
        }
      },
      "id": "is-message",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM commands WHERE json_extract(payload_json, '$.whatsapp_message_id') = :message_id LIMIT 1",
        "options": {
          "queryParameters": {
            "message_id": "={{ $json.whatsapp_message_id }}"
          }
        }
      },
      "id": "idempotency-check",
      "name": "Idempotency Check",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": {
        "sqlite": {
          "id": "sqlite-db",
          "name": "Task Assistant DB"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.length }}",
              "operation": "equal",
              "value2": 0
            }
          ]
        }
      },
      "id": "check-if-new",
      "name": "Is New Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "functionCode": "// Build Gemini prompt for intent classification\nconst userText = $node['Extract WhatsApp Message'].json.text;\nconst isButton = $node['Extract WhatsApp Message'].json.is_button;\n\nconst systemPrompt = `You are an intent classifier for a task management assistant.\n\nAnalyze the user message and output STRICT JSON:\n{\n  \"intent\": \"draft_task\" | \"confirm_draft\" | \"cancel_draft\" | \"edit_draft\" | \"unknown\",\n  \"parameters\": {\n    \"task_description\": \"string\",\n    \"mentioned_due_date\": \"YYYY-MM-DD or null\",\n    \"priority_indicators\": [\"urgent\", \"important\", etc] or []\n  },\n  \"confidence\": 0.0-1.0\n}\n\nRules:\n- Never guess dates if not explicitly mentioned\n- Return \"unknown\" intent if unclear\n- For button responses, extract the action from the payload\n- Current date context: ${new Date().toISOString().split('T')[0]}\n\nUser message: ${userText}`;\n\nreturn {\n  gemini_prompt: systemPrompt,\n  ...($node['Extract WhatsApp Message'].json)\n};"
      },
      "id": "build-prompt",
      "name": "Build Gemini Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GEMINI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ {\"contents\": [{\"parts\": [{\"text\": $json.gemini_prompt}]}], \"generationConfig\": {\"temperature\": 0.1, \"responseMimeType\": \"application/json\"}} }}",
        "options": {}
      },
      "id": "gemini-classifier",
      "name": "Gemini Intent Classifier",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "functionCode": "// Parse Gemini response and prepare command payload\nconst geminiResponse = $input.item.json.candidates[0].content.parts[0].text;\nconst intent = JSON.parse(geminiResponse);\n\n// Map intent to command type\nconst intentMap = {\n  'draft_task': 'draft_task_from_text',\n  'confirm_draft': 'confirm_draft',\n  'cancel_draft': 'cancel_draft',\n  'edit_draft': 'edit_draft',\n  'unknown': 'unknown'\n};\n\nconst commandType = intentMap[intent.intent] || 'unknown';\n\n// Build command payload\nconst prevData = $node['Extract WhatsApp Message'].json;\nconst payload = {\n  intent: intent.intent,\n  original_text: prevData.text,\n  parameters: intent.parameters,\n  whatsapp_message_id: prevData.whatsapp_message_id,\n  whatsapp_phone: prevData.whatsapp_phone,\n  business_phone_id: prevData.business_phone_id,\n  confidence: intent.confidence,\n  timestamp: prevData.timestamp\n};\n\nreturn {\n  command_type: commandType,\n  user_id: 'default_user',  // Update for multi-user\n  payload_json: JSON.stringify(payload),\n  whatsapp_phone: prevData.whatsapp_phone,\n  business_phone_id: prevData.business_phone_id\n};"
      },
      "id": "parse-intent",
      "name": "Parse Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "commands",
        "columns": "user_id, type, payload_json, status",
        "options": {
          "queryParameters": {
            "user_id": "={{ $json.user_id }}",
            "type": "={{ $json.command_type }}",
            "payload_json": "={{ $json.payload_json }}",
            "status": "pending"
          }
        }
      },
      "id": "insert-command",
      "name": "Insert Command",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [2250, 200],
      "credentials": {
        "sqlite": {
          "id": "sqlite-db",
          "name": "Task Assistant DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "audit_log",
        "columns": "action, entity_type, entity_id, source_message_id, details_json",
        "options": {
          "queryParameters": {
            "action": "command_created",
            "entity_type": "command",
            "entity_id": "={{ $node['Insert Command'].json.lastID }}",
            "source_message_id": "={{ $node['Extract WhatsApp Message'].json.whatsapp_message_id }}",
            "details_json": "={{ $node['Parse Intent'].json.payload_json }}"
          }
        }
      },
      "id": "audit-log",
      "name": "Audit Log",
      "type": "n8n-nodes-base.sqlite",
      "typeVersion": 1,
      "position": [2450, 200],
      "credentials": {
        "sqlite": {
          "id": "sqlite-db",
          "name": "Task Assistant DB"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Send WhatsApp acknowledgment message\nconst businessPhoneId = $node['Parse Intent'].json.business_phone_id;\nconst recipientPhone = $node['Parse Intent'].json.whatsapp_phone;\n\nreturn {\n  business_phone_id: businessPhoneId,\n  recipient_phone: recipientPhone,\n  message: 'Got it! Working on it... ⚙️'\n};"
      },
      "id": "prepare-ack",
      "name": "Prepare Acknowledgment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "url": "={{ 'https://graph.facebook.com/v18.0/' + $json.business_phone_id + '/messages' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ {\"messaging_product\": \"whatsapp\", \"to\": $json.recipient_phone, \"type\": \"text\", \"text\": {\"body\": $json.message}} }}",
        "options": {}
      },
      "id": "send-whatsapp-ack",
      "name": "Send WhatsApp Acknowledgment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [2850, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-api",
          "name": "WhatsApp Business API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"status\": \"received\"} }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [3050, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"status\": \"skipped\", \"reason\": $node['Extract WhatsApp Message'].json.reason} }}"
      },
      "id": "webhook-response-skip",
      "name": "Webhook Response (Skip)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "functionCode": "// Send duplicate warning via WhatsApp\nconst prevData = $node['Extract WhatsApp Message'].json;\n\nreturn {\n  business_phone_id: prevData.business_phone_id,\n  recipient_phone: prevData.whatsapp_phone,\n  message: 'This message is already being processed.'\n};"
      },
      "id": "prepare-duplicate",
      "name": "Prepare Duplicate Warning",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 400]
    },
    {
      "parameters": {
        "url": "={{ 'https://graph.facebook.com/v18.0/' + $json.business_phone_id + '/messages' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "application/json",
        "body": "={{ {\"messaging_product\": \"whatsapp\", \"to\": $json.recipient_phone, \"type\": \"text\", \"text\": {\"body\": $json.message}} }}",
        "options": {}
      },
      "id": "send-duplicate",
      "name": "Send Duplicate Warning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1850, 400],
      "credentials": {
        "httpHeaderAuth": {
          "id": "whatsapp-api",
          "name": "WhatsApp Business API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"status\": \"duplicate\"} }}"
      },
      "id": "webhook-response-dup",
      "name": "Webhook Response (Duplicate)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2050, 400]
    }
  ],
  "connections": {
    "WhatsApp Webhook": {
      "main": [
        [
          {
            "node": "Check if Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Verification": {
      "main": [
        [
          {
            "node": "Is Verification Request?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Verification Request?": {
      "main": [
        [
          {
            "node": "Respond with Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract WhatsApp Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract WhatsApp Message": {
      "main": [
        [
          {
            "node": "Has Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Message?": {
      "main": [
        [
          {
            "node": "Idempotency Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response (Skip)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Idempotency Check": {
      "main": [
        [
          {
            "node": "Is New Message?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is New Message?": {
      "main": [
        [
          {
            "node": "Build Gemini Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Duplicate Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Gemini Prompt": {
      "main": [
        [
          {
            "node": "Gemini Intent Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Intent Classifier": {
      "main": [
        [
          {
            "node": "Parse Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Intent": {
      "main": [
        [
          {
            "node": "Insert Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Command": {
      "main": [
        [
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audit Log": {
      "main": [
        [
          {
            "node": "Prepare Acknowledgment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Acknowledgment": {
      "main": [
        [
          {
            "node": "Send WhatsApp Acknowledgment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Acknowledgment": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Duplicate Warning": {
      "main": [
        [
          {
            "node": "Send Duplicate Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Duplicate Warning": {
      "main": [
        [
          {
            "node": "Webhook Response (Duplicate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
